<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Web3 Crypto Streaming Service</h5>
                <p>A decentralized platform for content streaming built on blockchain technology</p>
            </div>
            <div class="col-md-3">
                <h6>Resources</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ site.baseurl }}/docs" class="text-light">Documentation</a></li>
                    <li><a href="{{ site.baseurl }}/whitepaper/web3-streaming-service-whitepaper.html" class="text-light">Whitepaper</a></li>
                    <li><a href="{{ site.baseurl }}/docs/resources/external-links.html" class="text-light">External Resources</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Community</h6>
                <ul class="list-unstyled">
                    <li><a href="https://discord.gg/web3streaming" class="text-light">Discord</a></li>
                    <li><a href="https://twitter.com/web3streaming" class="text-light">Twitter</a></li>
                    <li><a href="https://github.com/idl3o/gh-pages" class="text-light">GitHub</a></li>
                </ul>
            </div>
        </div>
        <hr class="mt-4">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2024 Web3 Crypto Streaming Service. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">Version {{ site.version }}</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
