<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/gh-pages/">
            <i class="fas fa-stream me-2"></i>Web3 Streaming
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/gh-pages/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gh-pages/docs/">Documentation</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="guidesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Guides
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="guidesDropdown">
                        <li><a class="dropdown-item" href="/gh-pages/docs/guides.creators.html">Creator Guide</a></li>
                        <li><a class="dropdown-item" href="/gh-pages/docs/guides.viewers.html">Viewer Guide</a></li>
                        <li><a class="dropdown-item" href="/gh-pages/docs/guides.developers.html">Developer Guide</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gh-pages/whitepaper/web3-streaming-service-whitepaper.html">Whitepaper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gh-pages/status.html">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gh-pages/team.html">Team</a>
                </li>
            </ul>
            <a href="https://app.web3streaming.io" class="btn btn-primary btn-sm">
                <i class="fas fa-external-link-alt me-1"></i>Launch App
            </a>
        </div>
    </div>
</nav>
